{{.Env.CFDNSUPDATER_DOMAIN}}:
  email: {{.Env.CFDNSUPDATER_EMAIL}}
  apikey: {{.Env.CFDNSUPDATER_APIKEY}}
  period: {{.Env.CFDNSUPDATER_PERIOD}}
  record_types: [{{.Env.CFDNSUPDATER_RECORDTYPES}}]
  record_names: [{{.Env.CFDNSUPDATER_RECORDNAMES}}]