#!/usr/bin/env sh
{{.Env.DOCKERIZE_INSTALLDIR}}/dockerize -template {{.Env.CFDNSUPDATER_INSTALLDIR}}/cfdnsupdater.conf.tmpl:{{.Env.CFDNSUPDATER_CONFDIR}}/cfdnsupdater.conf \
{{.Env.CFDNSUPDATER_INSTALLDIR}}/cfdnsupdater -v -c {{.Env.CFDNSUPDATER_CONFDIR}}/cfdnsupdater.conf