#!/usr/bin/env sh
export TRANSMISSION_DATADIR={{.Env.TRANSMISSION_DATADIR}}
export TRANSMISSION_PORT={{.Env.TRANSMISSION_PORT}}
{{.Env.DOCKERIZE_INSTALLDIR}}/dockerize -template {{.Env.TRANSMISSION_INSTALLDIR}}/settings.json.tmpl:{{.Env.TRANSMISSION_CONFDIR}}/settings.json \
 transmission-daemon --foreground -g {{.Env.TRANSMISSION_CONFDIR}}