#!/usr/bin/env sh
{{.Env.DOCKERIZE_INSTALLDIR}}/dockerize -template {{.Env.TRANSMISSION_INSTALLDIR}}/settings.json.tmpl:{{.Env.TRANSMISSION_CONFDIR}}/settings.json \
 transmission-daemon --foreground -g {{.Env.TRANSMISSION_CONFDIR}}