[General]
USER_NAME = {{.Env.SEAFILE_ADMIN_USERNAME}}
ID = {{.Env.SEAFILE_ID}}
NAME = {{.Env.SEAFILE_ADMIN_USERNAME}}
SERVICE_URL = http://{{.Env.SEAFILE_SERVERNAME}}.{{.Env.SEAFILE_DOMAIN}}:{{.Env.SEAFILE_SEAHUB_PORT}}

[Client]
PORT = 13419