server.modules = (
        "mod_access",
        "mod_alias",
        "mod_compress",
        "mod_redirect",
        "mod_accesslog",
        "mod_proxy",
        "mod_rewrite",
        "mod_fastcgi",
)

server.document-root        = "{{.Env.SEAFILE_DATADIR}}/html"
server.upload-dirs          = ("{{.Env.SEAFILE_DATADIR}}/cache/lighttpd/uploads")
server.errorlog             = "{{.Env.SEAFILE_DATADIR}}/log/lighttpd/error.log"
server.pid-file             = "{{.Env.SEAFILE_DATADIR}}/lighttpd.pid"
server.username             = "{{.Env.SEAFILE_USER}}"
server.groupname            = "{{.Env.SEAFILE_GROUP}}"
server.port                 = {{.Env.SEAFILE_PORT}}

mimetype.assign = (
  ".html" => "text/html", 
  ".txt" => "text/plain",
  ".jpg" => "image/jpeg",
  ".png" => "image/png" 
)

$HTTP["host"] == "{{.Env.SEAFILE_HOSTNAME}}" {
  fastcgi.server = ( "/" => (( "host" => "127.0.0.1",
                                 "port" => {{.Env.SEAFILE_SEAHUB_PORT}},
                                 "check-local" => "disable",
                                 "allow-x-send-file" => "enable",
                                 "fix-root-scriptname" => "enable" )))


  proxy.server = ( "/seafhttp" => ( "" => ( "host" => "127.0.0.1",
                                       "port" => {{.Env.SEAFILE_SERVER_PORT}} )))

  alias.url += (
    "/media" => "/opt/Seafile/seafile-server-latest/seahub"
  )
}