SECRET_KEY = {{.Env.SECRETKEY}} 
FILE_SERVER_ROOT = 'https://{{.Env.HOSTNAME}}/seafhttp'

EMAIL_USE_TLS = True
EMAIL_HOST = '{{.Env.SMTP_SERVER}}'
EMAIL_HOST_USER = '{{.Env.SMTP_EMAIL}}'
EMAIL_HOST_PASSWORD = '{{.Env.SMTP_PASSWORD}}'
EMAIL_PORT = 587
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
SERVER_EMAIL = EMAIL_HOST_USER

CLOUD_MODE = True

ENABLE_GLOBAL_ADDRESSBOOK = False
