SECRET_KEY = {{.Env.SEAFILE_SECRETKEY}} 
FILE_SERVER_ROOT = '{{.Env.SEAFILE_PROTOCOL}}://{{.Env.SEAFILE_HOSTNAME}}/seafhttp'

EMAIL_USE_TLS = {{.Env.SEAFILE_SMTP_TLS}}
EMAIL_HOST = '{{.Env.SEAFILE_SMTP_SERVER}}'
EMAIL_HOST_USER = '{{.Env.SEAFILE_SMTP_EMAIL}}'
EMAIL_HOST_PASSWORD = '{{.Env.SEAFILE_SMTP_PASSWORD}}'
EMAIL_PORT = 587
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
SERVER_EMAIL = EMAIL_HOST_USER

CLOUD_MODE = True

ENABLE_GLOBAL_ADDRESSBOOK = False