################################################################
# Global configuration
################################################################

traefikLogsFile = "/var/log/traefik/traefik.log"
accessLogsFile = "/var/log/traefik/access.log"
[web.auth.basic]
 users = ["{{.Env.ADMIN_AUTH}}"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
   [entryPoints.http.redirect]
     entryPoint = "https"
  [entryPoints.https]
  address = ":443"
   [entryPoints.https.tls]

[acme]
email = "{{.Env.ADMIN_EMAIL}}"

storageFile = "/var/lib/traefik/acme.json"

entryPoint = "https"

onDemand = false

[[acme.domains]]
   main = "{{.Env.DOMAIN}}"
   sans = [{{.Env.SUBDOMAINS}}]

################################################################
# Web configuration backend
################################################################
[web]
address = ":82"

################################################################
# Docker configuration backend
################################################################

[docker]
endpoint = "unix:///var/run/docker.sock"
watch = true
